{{ define "main" }}

<script type="text/javascript">

  function superhandle(){

    var user = document.getElementById('name').value;
    var email = document.getElementById('email').value;
    var subject = document.getElementById('subject').value;
    var message = document.getElementById('message').value;

    var data = { user: user, email: email, subject: subject, message: message };

    var xhttp = new XMLHttpRequest();
    
    xhttp.open("POST", "https://uldgknn2isq5ubesqqn6cdvtve0fkzji.lambda-url.eu-south-1.on.aws/", true);
    xhttp.setRequestHeader('Access-Control-Allow-Origin', '*');
    xhttp.send(JSON.stringify(data));
    window.setTimeout(function(){window.location.href = "https://www.finanzami.it/greeting";}, 500);
  }

</script>

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h4 class="widget-title">{{ .Title | markdownify }}</h4>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h4 class="widget-title">Contattaci</h4>
        <form action="javascript:superhandle()" method="POST" class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4" id="name" name="name" placeholder="Nome Cognome">
          </div>
          <div class="col-lg-6">
            <input type="email" class="form-control mb-4" id="email" name="email" placeholder="Email">
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" id="subject" name="subject" placeholder="Oggetto">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control mb-4" placeholder="Il tuo messaggo"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Invia messaggio</button>
          </div>
        </form>
        <br/>
      </div>
    </div>
  </div>
</section>

{{ end }}