{{ define "main" }}

<script type="text/javascript">

  async function handleIt() {

    var params = "";
    params.concat("name=", document.getElementById('name').value, "&", "email=", document.getElementById('email').value, "&", "subject=", document.getElementById('subject').value, "&", "message=", document.getElementById('message').value);

    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "https://uldgknn2isq5ubesqqn6cdvtve0fkzji.lambda-url.eu-south-1.on.aws/", true);
    xhttp.send(params);
    window.setTimeout(function(){window.location.href = "http://finanzami.it/greeting/";}, 500);
  }

</script>

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h4 class="widget-title">{{ .Title | markdownify }}</h4>
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mb-4">Contattaci</h2>
        <form action="javascript:handleIt()" method="POST" class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control mb-4" id="name" name="name" placeholder="Nome Cognome">
          </div>
          <div class="col-lg-6">
            <input type="email" class="form-control mb-4" id="email" name="email" placeholder="Email">
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" id="subject" name="subject" placeholder="Oggetto">
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control mb-4" placeholder="Il tuo messaggo"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Invia messaggio</button>
          </div>
        </form>
        <br/>
      </div>
    </div>
  </div>
</section>

{{ end }}